{% extends 'base.html.twig' %}
{% block title %} Private office {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="content">
        {% include 'menu.html.twig' %}
        <form role="form" action="/firmwares/addManufacturer/" method="post">
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" class="form-control" name="new_manufacturer" id="manufacturer"
                       placeholder="Enter manufacturer">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <form role="form" action="/firmwares/addModel/" method="post">
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" name="new_model" placeholder="Enter model">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="firmwares" style="margin-top: 20px; width: 80%">
            <input type="text" id="filter" class="input-prepend filter" placeholder="Search...">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td>Manufacturer</td>
                    <td>Model</td>
                    <td>Firmware</td>
                    <td>Real</td>
                    <td>Type</td>
                    <td>Price</td>
                    <td>From</td>
                    <td>Fixserv ID</td>
                    <td>Description</td>
                    <td>Disabled</td>
                    <td>Action</td>
                </tr>
                <tr>
                    <form method='post' action='/firmwares/addFirmware/' class='form-inline'>
                    <td>
                        <select style="width: 100px;" name="vendor">
                            {% for item in vendors %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select style="width: 150px;" name="model">
                            {% for item in models %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" style="width:100px;" name="firmware">
                    </td>
                        <td>

                        </td>
                    <td>
                        <select id="type_serial" name="type_serial" style="width: 50px;">
                            <option value="1">Serial</option>
                            <option value="2">Crum</option>
                            <option value="3">Serial+Crum</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" style="width:30px;" name="price">
                    </td>
                    <td>
                        <select id="from" name="from">
                            <option value="1">www.korotron-online.net</option>
                            <option value="3">www.korotron-online.net(secfoco@gmail.com)</option>
                            <option value="2">firmware-online.com</option>
                            <option value="4">fixserv.no-ip.org</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="fixserv_id">
                    </td>
                        <td>
                        <input type="text" name="descr">
                    </td>
                    <td>
                        <input type="checkbox" value="1" name="enabled">
                    </td>
                    <td>
                        <button type='submit' class='btn' style="width: 100px;">Add</button>
                    </td>
                    </form>
                </tr>
                {% for item in firmwares %}
                    <tr class="tableTr">
                        <form method='post' action='/firmwares/saveFrom/' class='form-inline'>
                            <td width="100px">{{ item.vendor }}</td>
                            <td width="100px">{{ item.model }}</td>
                            <td width="150px"><input name="firmware" value="{{ item.firmware }}" style="width:100px;"></td>
                            <td width="150px"><input name="realModel" value="{{ item.realModel }}" style="width:100px;"></td>
                            <td width="150px">
                                <select id="type" name="typeSerial" style="width: 100px;">
                                    <option value="1" {% if item.type == 1 %} selected {% endif %}>Serial</option>
                                    <option value="2" {% if item.type == 2 %} selected {% endif %}>Crum</option>
                                    <option value="3" {% if item.type == 3 %} selected {% endif %}>Serial+Crum</option>
                                </select></td>
                            <td width="150px"><input name="price" value="{{ item.price }}" style="width:50px;"></td>
                            <td width="350px">
                                <input type='hidden' name='fId' value='{{ item.fid }}'>
                                <select id="from" name="from">
                                    <option value="1" {% if item.from == 1 %} selected {% endif %}>
                                        www.korotron-online.net
                                    </option>
                                    <option value="2" {% if item.from == 2 %} selected {% endif %}>firmware-online.com
                                    </option>
                                    <option value="3" {% if item.from == 3 %} selected {% endif %}>www.korotron-online.net(secfoco@gmail.com)
                                    </option>
                                    <option value="4" {% if item.from == 4 %} selected {% endif %}>fixserv.no-ip.org</option>
                                </select>
                            </td>
                            <td width="100px">
                                <input name="fixserv_id" value="{{ item.fixserv_id }}" style="width:100px;">
                            </td>
                            <td width="100px">
                                <textarea name='description' style='height: 124px; width: 150px;"'>{{ item.description }}</textarea>
                            </td>
                            <td>
                                <input type="checkbox" {% if item.enabled == 1 %}checked{% endif %} value="1" name="enabled">
                            </td>
                            <td>
                                <button type='submit' class='btn' style="width: 100px;">Save</button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            console.log(1);
            $("a[rel=popover]").popover({
                placement: 'left',
                offset: 10,
                trigger: 'focus',
                html: true,
                toggle: 'enabled'
            }).click(function (e) {
                e.preventDefault()
            });
            var theTable = $('table.firmwares')

            $("#filter").keyup(function () {
                var t = $.uiTableFilter(theTable, this.value, 0);
                //console.log(t);
            })
        });
    </script>
{% endblock %}